<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** </br>
 - Popular Languages
  - Popular Libraries
   - Popular tools

Some of the popular languages that Data Scientists use are: </br>
    1. Python </br>
    2. R </br>
    3. SQL </br>
    4. C++ </br>
    5. C

Some of the commonly used libraries used by Data Scientists include: </br>
    1.TensorFlow </br>
    2.SciPy </br>
    3.NumPy </br>
    4.Pandas </br>

Data Science tools:  </br>
    1. Python </br>
    2. RStudio </br>
    3. git </br>
    4. Jupyter </br>

### Below are a few examples of evaluating arithmetic expressions in Python

In [51]:

x = 15
y = 30
z = x * y / 2
print (z)

225.0

In [33]:
c = 2*(4+6)
print (c)

20

#### This a simple arithmetic expression to multiply then add integers

In [53]:

(3*4)+5

17

##### This will convert 200 minutes to hours by diving by 60

In [54]:

200/60

3.3333333333333335

## Author
Danyil Yurtseniuk